@import "./variables";
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);


.console {
    
    padding-left: 0.5rem;

    display: flex;

    flex-direction: column;
    position: relative;
    box-sizing: border-box;

    .console__title-bar {
        flex: 0 0 auto;
        padding: 0.5rem 1rem;
        background: white;    
        border: 1px solid $gray4;
        border-bottom: 0;
    }

    .console__text {
        position: relative;
        flex: 1 1 auto;
        padding: 1rem;
        background: white;
        border: 1px solid $gray4;
        font-family: "Source Code Pro", monospace;
        font-size: 16px;
        color: #666;
        overflow: auto;

        .console__error,
        .console__log {
            border-bottom: 1px solid #eee;
            padding: 0.5rem 0 0.1rem;
        }

        .console__error {
            color: red;
        }
    }

    .console__resize-handle {

        cursor: ew-resize;
        user-select: none;

        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 0.5rem;

        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
            display: block;
            content: "";
            background: rgba(0, 0, 0, 0.3);
            width: 50%;
            height: 3rem;
            border-radius: 0.2rem;
        }
    }


    .console__iframe {
        position: absolute;
        top: 0; left: 0; 
        height: 100%;
        width: 100%;
        border: 0;
    }

}

