html {
	height: 100%;
}

body {
    background: #eff;
    display: flex;
    flex-direction: column;

    height: 100%;
    padding: 0;
    margin: 0;

    font-family: verdana, sans-serif;
	
	.header {
		flex: 0 0 auto;
	}

	main {
		flex: 1 1 auto;
		padding: 0.5rem;
	}
}


main {
	display: flex;
	flex-direction: row;

	.code {
		flex: 1 1 auto;
	}

	.console {
		flex: 1 0 33%;
	} 
}

.toggle-pane {
    transition: all 250ms;
    overflow: hidden;

	// remove css transitions to prevent conflict with resizer dragging
    .is-resizing & {
        transition: none;
    }

    &.toggle--hidden {
        flex: 0 0 0 !important;
        padding: 0 !important;
    }
}

