html {
    height: 100%;
}

body {
    background: #eff;
    display: flex;
    flex-direction: column;

    height: 100%;
    padding: 0;
    margin: 0;

    font-family: verdana, sans-serif;
    
    .header {
        flex: 0 0 auto;
    }

    main {
        flex: 1 1 auto;
        padding: 0.5rem;
    }
}


main {
    display: flex;
    flex-direction: row;

    .code {
        flex: 0 0 66%;
        .editor {
            flex: 0 0 50%;
        }
    }

    .output {
        flex: 0 0 34%;
    } 
}

.toggle-pane,
.code {
    transition: all 250ms;
    overflow: hidden;
    opacity: 1;

    // remove css transitions to prevent conflict with resizer dragging
    .is-resizing & {
        transition: none;
    }
}

.hide-es5 .editor--es5,
.hide-es6 .editor--es6,
.hide-output .output {
    flex: 0 0 0 !important;
    padding: 0 !important; 
    opacity: 0;
}

.hide-es5 .editor--es6,
.hide-es6 .editor--es5,
.hide-output .code {
    flex: 0 0 100% !important;
}

