html {
	height: 100%;
}

body {
    background: #eff;
    display: flex;
    flex-direction: column;

    height: 100%;
    padding: 0;
    margin: 0;

    font-family: verdana, sans-serif;
	
	.header {
		flex: 0 0 auto;
	}

	main {
		flex: 1 1 auto;
	}
}


main {
	display: flex;
	flex-direction: row;

	.code {
		flex: 1 1 auto;
	}

	.console {
		flex: 0 0 33%;
	} 
}
