<!doctype html>
<html>
    <head>
        <title>ES6 playground</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"> <!-- https://github.com/jonathantneal/svg4everybody -->
        <link rel="stylesheet" type="text/css" href="css/vendor.css">
        <link rel="stylesheet" type="text/css" href="css/index-generated.css">

        <script type="text/javascript">

        window.es6Examples = <%= JSON.stringify(examples) %>;

        </script>
    </head>
    <body>


        <div class="header">
            ES6 Playground
            <select class="examples">
                <option value=""> Examples </option>
                <% examples.forEach(function(ex){ %>
                <option value="<%= ex.filename %>"><%= ex.filename %></option>
                <% }); %>
            </select>

            <div class="toggle-group">
                <label class="toggle" title="Toggle ES6 panel">
                    <input type="checkbox" class="toggle--es6" checked data-hide="es6">
                    <span>ES6</span>
                    </label>
                <label class="toggle" title="Toggle ES5 panel">
                    <input type="checkbox" class="toggle--es5" checked data-hide="es5">
                    <span>ES5</span>
                </label>
                <label class="toggle" title="Toggle console panel">
                    <input type="checkbox" class="toggle--console" checked data-hide="console">
                    <span>Console</span>
                </label>
            </div>

            <button type="button" class="btn btn--rerun" title="Rerun code">
                <svg>
                    <use xlink:href="img/svg-sprite.svg#refresh"></use>
                </svg>
            </button>

        </div>

        <main>

            <div class="code">
                <div class="editor editor--es6 toggle-pane">
                    <div class="editor__title-bar"> 
                        <span class="editor__title-text">ES6</span> 
                    </div>
                    <div class="editor__code-mirror"></div>
                </div>
                
                <div class="editor editor--es5 toggle-pane">
                    <div class="es5-resize-handle"></div>
                    <div class="editor__title-bar"> <span class="editor__title-text">ES5</span> </div>
                    <div class="editor__code-mirror"></div>
                </div>
            </div>

            <div class="console toggle-pane">
                <div class="console__resize-handle"></div>
                <div class="console__title-bar">Console</div>
                <div class="console__text"></div>
            </div>
        
        </main>
  
        <script type="text/javascript" src="js/vendor.js"></script>
        <script type="text/javascript" src="js/index.js"></script>

    </body>
</html>